<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="css/usersStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- For demo purpose -->
<div class="container py-5">
     <a class="btn btn-danger" href="/api/users/me"> My Profile</a>
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Top users of us!</h1>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">

        <% users.forEach(user => { %>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <h5 class="mb-0"><%= user.name %> </h5><span class="small text-muted"><%= user.email %> </span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="/api/users/<%= user.username%> " class="btn btn-primary">profile</a></li>
                    </ul>
                </div>
            </div><!-- End -->
        <% }) %> 
    </div>
</div>
</body>
</html>